.item img {
  z-index: 1;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 150%;
}

.item {
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  margin: .3% 0;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.95);
  display: none;
}

.overlay p.like {
  font-family: 'Source Code Pro', sans-serif;
  margin: 0;
  font-size: 1.3rem;
  color: #999;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.overlay p.description {
  padding: 0 2rem;
  text-align: center;
} 

.overlay p span {
  transform-origin: center;
  transition: .2s 0s color linear;
}

.item:hover > .overlay {
  animation: fadeIn .15s 0s forwards ease-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item .overlay h2 {
  margin: 0;
  font-size: 1.8rem;
}

.overlay p span.red {
  animation: liked .2s 0s forwards ease-out;
  color: #d63031;
}

@keyframes liked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {
  .item {
    height: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .item {
    height: 375px;
  }
}

@media screen and (max-width: 850px) {
  .item {
    height: 375px;
    flex-basis: 49.7%;
  }
}

@media screen and (max-width: 767px) {
  .item {
    flex-basis: 48%;
    height: 300px;
    margin: 1%;
  }

  .item .overlay h2 {
    font-size: 1.2rem;
  }

  .item .overlay p {
    font-size: .8rem;
    padding: .4rem;
  }
}
